<%- include("../adminLayouts/adminHeader.ejs") %>
<%- include("../adminLayouts/adminSidebar.ejs") %>
<%- include("../adminLayouts/adminNavbar.ejs") %>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">EDIT PRODUCT</h4>


            <!----------- PRODUCT EDITING SECTION ---------->
            <form class="form-sample" action="/admin/updateproduct/<%=products._id%>" method="post" id="form" >
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Product Name</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="productName" id="productName" value="<%= products.productName %>"/>

                      <span class="text-danger" id="productName-error"></span>

                    </div>
                  </div>
                </div>
              </div>


              <!----------- BRAND EDITING SECTION ---------->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">brand</label>
                    <div class="col-sm-9">
                      <select class="form-control" name="brand">
                        <option value="Puma" <% if(products.productBrand ==='Puma'){ %>selected<%}%>>Puma</option>
                        <option value="Nike" <% if(products.productBrand ==='Nike'){ %>selected<%}%>>Nike</option>
                        <option value="Nivia" <% if(products.productBrand ==='Nivia'){ %>selected<%}%>>Nivia</option>
                        <option value="Adidas" <% if(products.productBrand ==='Adidas'){ %>selected<%}%>>Adidas</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>


                 <!----------- PRICE EDITING SECTION ---------->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Price</label>
                    <div class="col-sm-9">
                      <input  class="form-control" type="number" name="price" id="price" value="<%= products.productPrice %>"/>

                      <span class="text-danger" id="price-error"></span>

                    </div>
                  </div>
                </div>
              </div>


            <!----------- CATEGORY EDITING SECTION ---------->
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Category</label>
                    <div class="col-sm-9">
                      <select class="form-control" name="categoryName">
                        <% for (let i = 0; i < category.length; i++) { %>
                          <option><%= category[i].categoryName %></option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                </div>


                <!----------- IMAGE EDITING SECTION ---------->
                <div class="form-group">
                  <label>File upload</label>
                  <div class="input-group col-xs-12">
                    <% products.productImage.forEach((x,index) => {   %>
                       <img src="/adminAssets/adminImage/<%= x %>" alt="" width="60px" height="50">
                    <% }) %>
                  </div>
                  

                  <!----------- BUTTON SECTION ---------->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  edit image
                </button>
                

                <!----------- STOCK EDITING SECTION ---------->
                <div>
                <div class="form-group" style="margin-top: 16px;">
                  <label>Stock</label>
                  <input type="number" class="form-control" name="stock" id="stockQuantity" value=" <%= products.productStock %>">

                  <span class="text-danger" id="stockQuantity-error"></span>

                </div>
              </div>

              <!--------------DESCRIPTION EDITING SECTION---------------> 
              <div>
                <div class="form-group">
                  <label>Description</label>
                  <input  class="form-control" name="description" id="description" value=" <%= products.productDescription %>">

                  <span class="text-danger" id="descriptionerror"></span>

                </div>
              </div>
               
               <div>
                <button class="button">Submit</button>
              </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content" style="background-color: #191C24;">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Image editing</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- form starts -->
      <form action="/admin/updateimage/<%= products._id %>" method="post" enctype="multipart/form-data">
        <div class="modal-body">
              <input multiple type="file" class="form-control" id="basic-default-name" name="image" />
              
              <span class="text-danger pb-2" id="image-error"></span>

              <br>
              <% products.productImage.forEach((x,index)=> { %>
                  <img class="mb-3" src="/adminAssets/adminImage/<%= x %>" alt="" width="60px" height="50">
                  <!-- dlete button -->
                  <a href="/admin/deleteimg/<%= x %>/<%= products._id%>" class="btn btn-danger ms-3">delete</a>
                  <br>
              <% }); %>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
          </div>
      </form>
  </div>
</div>


<script>
  const Form = document.getElementById("form");
  const formImage = document.getElementById('formImage')
  const productNameInput = document.getElementById("productName");
  const stockQuantityInput = document.getElementById('stockQuantity');
  const priceInput = document.getElementById('price');
  const descriptionInput = document.getElementById('description');
  const imageInput = document.getElementById('formFileMultiple');
  
  const productNameError = document.getElementById("productName-error");
  const stockQuantityError = document.getElementById("stockQuantity-error");
  const priceError = document.getElementById("price-error");
  const descriptionError = document.getElementById("descriptionerror");
  const imageError = document.getElementById("image-error");
  
          
          
          Form.addEventListener("submit", (event) => {
            event.preventDefault();
          
            const productNameValue = productNameInput.value.trim();
            if (!productNameValue) {
              productNameError.textContent = "Please enter a product name";
              return;
            } else {
              productNameError.textContent = "";
            }
          
            const stockQuantityValue = stockQuantityInput.value.trim();
            if (!stockQuantityValue) {
              stockQuantityError.textContent = "Please enter a stock quantity";
              return;
            } else if (isNaN(stockQuantityValue) || Number(stockQuantityValue) < 0 || Number(stockQuantityValue) % 1 !== 0) {
              stockQuantityError.textContent = "Please enter a positive number for stock quantity";
              return; 
            } else {
              stockQuantityError.textContent = "";
            }
          
            const priceValue = priceInput.value.trim();
            if (!priceValue) {
              priceError.textContent = "Please enter a price";
              return;
            } else if (isNaN(priceValue) || Number(priceValue) <= 0) {
              priceError.textContent = "Please enter a positive number for price";
              return;
            } else {
              priceError.textContent = "";
            }
          
            const descriptionValue = descriptionInput.value.trim();
            if (!descriptionValue) {
              descriptionError.textContent = "Please enter a description";
              return;
            } else {
              descriptionError.textContent = "";
            }
          
            
            form.submit();
          });
          </script>


<%- include("../adminLayouts/adminFooter.ejs")  %>
