
<%- include("../adminLayouts/adminHeader.ejs") %>
<%- include("../adminLayouts/adminSidebar.ejs") %>
<%- include("../adminLayouts/adminNavbar.ejs") %>


<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
  
        <div class="card-body">
          <h4 class="card-title">ORDERS</h4>
          <div class="table-responsive">
            <table class="table table">
              <thead>
                <tr>
                  <th>No</th>
                  <th>User</th>
                  <th>Order ID</th>
                  <th>Payment Method</th>
                  <th>Total Amt</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                  <% if(orders.length > 0){
                      orders.forEach((order,i)=>{
                        %>
                       
                    <tr>
                      
                      <td><%= i+1 %></td>
                      <td><%= order.userName%></td>
                      <td><%= order._id%></td>
                      <td><%= order.paymentMethod%></td>
                      <td><%= order.totalAmount%></td>
                      <td><%= order.date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g, '-') %></td>
                      <td><a href="singleorder/<%= order._id %>"><button class="btn btn-outline-info" href=""><i class="mdi mdi-file-check btn-icon-prepend"></i>View</button></a></td>
                    </tr>
                 
                    <%})
                  }else{ %>
                            <h1 class="d-flex justify-content-center">You Have No Orders</h1>
                    <% } %>
               
              </tbody>
            </table>
          </div>
        </div>
        </div>
        </div>
  
  
  
  
      </div>
    </div>
  </div>
  
<%- include("../adminLayouts/adminFooter.ejs")  %>
