<%- include("../userLayouts/userHeader.ejs")  %>
<%- include("../userLayouts/userNavbar.ejs")  %>

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('userAssets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title"><span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/shopPage">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page"></li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                			<div class="toolbox">
                				<div class="toolbox-left">
                					<div class="toolbox-info">
                						Showing <span> 3 of 6</span> Products
                					</div><!-- End .toolbox-info -->
                				</div><!-- End .toolbox-left -->

                				<div class="toolbox-right">
                					<div class="toolbox-sort">
                						<label for="sortby">Sort by:</label>
                						<div class="select-custom">
											<select name="sortby" id="sortby" class="form-control">
												<option value="popularity" selected="selected">Most Popular</option>
												<option value="rating">Most Rated</option>
												<option value="date">Date</option>
											</select>
										</div>
                					</div><!-- End .toolbox-sort -->
                					
                				</div><!-- End .toolbox-right -->
                			</div><!-- End .toolbox -->

                            <div class="products mb-3">
                                <div class="row justify-content-center">
                                    <% if(productData){
                                        productData.forEach((product)=>{ %>
                                         
                                    <div class="col-6 col-md-4 col-lg-4">
                                        <div class="product product-7 text-center">
                                            <figure class="product-media">
                                                <span class="product-label label-new">New</span>
                                                <a href="/singleproduct/<%= product._id %>">
                                                    <img src="/adminAssets/adminImage/<%= product.productImage[0] %>" alt="Product image" class="product-image">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                </div><!-- End .product-action-vertical -->

                                                <div class="product-action">
                                                    <a onclick=" addtocart('<%=  product._id  %>')" class="btn-product btn-cart"><span>add to cart</span></a>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#"><%= product.category%></a>
                                                </div><!-- End .product-cat -->

                                               
                                                <div class="product-price">
													<%	if(product.offPrice > 0){ %>
														<del class="text-danger">₹ <%= product.productPrice %>.00</del> &nbsp; &nbsp; ₹ <%= product.offPrice%>.00
														<% }else{ %>
														₹ <%=product.productPrice%>.00
														<%	} %>
                                                </div><!-- End .product-price -->
                                        
                                                
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-4 -->

                                      
                                 <%  }) %>
                                <% } %>
                                    

                                </div><!-- End .row -->
                            </div><!-- End .products -->

							<div class="ec-pro-pagination ">
                                
                                <ul class="pagination justify-content-center">
                                    <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                                        <a class="prev" href="?page=<%= currentPage - 1 %>" aria-label="Previous" tabindex="-1" aria-disabled="true">
                                            <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                        </a>
                                    </li>
                                    <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= currentPage === i ? 'active' : '' %> ms-2" aria-current="page">
                                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                </li>
                                   <% } %>
                                   <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                <a class="next" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                                    Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                </a>
                               </li>

                                </ul>
                            </div> 
                		</div><!-- End .col-lg-9 -->
                		<aside class="col-lg-3 order-lg-first">
                			<div class="sidebar sidebar-shop">
                				<div class="widget widget-clean">
                					<label>Filters:</label>
                					<a href="/shopPage" >Clean All</a>
                				</div><!-- End .widget widget-clean -->

                				<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
									        Category
									    </a>
									</h3><!-- End .widget-title -->
								

								

											<div class="collapse show" id="widget-1">
												<div class="collapse show" id="widget-1">
                                    <% if(categoryData.length > 0){
                                        for(let i=0;i<categoryData.length;i++){

                                    %>
                                    <div class="widget-body">
                                        <div class="filter-items filter-items-count">
                                            <div class="filter-item">
                                      		          <div class="custom-control custom-checkbox">
                                                    <a class="text-dark" href="/filterCategory/<%= categoryData[i].categoryName %>" for="cat-1" >
                                                        <%= categoryData[i].categoryName %>
                                                    </a>
                                                </div><!-- End .custom-checkbox -->                                              
                                            </div><!-- End .filter-item -->
                                        </div><!-- End .filter-items -->
                                    </div><!-- End .widget-body -->
                                    <% 
                                 }
                                 } %>
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->


									</div><!-- End .collapse -->
        						</div><!-- End .widget -->


        						

							

        						
        						<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
									        Price
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-5">
										<div class="widget-body">
                                            <div class="filter-price">
                                                <div class="filter-price-text">
                                                    Price Range:
                                                    <span id="filter-price-range"></span>
                                                </div><!-- End .filter-price-text -->

                                                <div id="price-slider"></div><!-- End #price-slider -->
                                            </div><!-- End .filter-price -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->
                			</div><!-- End .sidebar sidebar-shop -->
                		</aside><!-- End .col-lg-3 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->




<script>
function addtocart(productid) {
	$.ajax({
		url: "/addtocart",
		method: "post",
		data: {
			id: productid
		},
		success: (response) => {
			if (response.success) {
				swal.fire({
					positon: 'center',
					icon: "success",
					title: 'product added to cart',
					showConfirmButton: false,
					timer: 1500,
				})
			}else {
			swal.fire({ 
			icon: 'error',
			title: 'Oops...',
			text: response.message
			});
		} 
		}
	})
}




function addWishlist(id){
   $.ajax({
  
	url:'/addtoWishlist',
	method:'post',
	data: {
			proId:id
		},
		success: (response) => {
			swal.fire({
					positon: 'center',
					icon: "success",
					title: 'product added to wishlist',
					showConfirmButton: false,
					timer: 1500,
				})
			}

   })
}

 

</script>

<%- include("../userLayouts/userFooter.ejs")  %>