<%- include("../userLayouts/userHeader.ejs") %>
<%- include("../userLayouts/userNavbar.ejs") %>
<%- include("../userLayouts/accountSidebar.ejs") %>





<div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
    <div class="profile-view d-flex justify-content-center flex-column align-items-center" >
      <div><img class="" src="/userAssets/images/people-saving-money_24908-51569 (2).jpg"alt=""> </div>
     <br> <div> <h5> <%= user.name %> </h5> </div>
      <div>  <h5> <%= user.email%> </h5> </div>
        <div>  <h5>  <%= user.mobile%>  </h5> </div>
        <div>  <h5> wallet:₹ <%= user.wallet%>.00  </h5> </div>


    </div>
    <!-- From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p> -->
</div><!-- .End .tab-pane -->

<div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
    <table>
        <thead>
            <tr>
              <th>   #   </th>
              <th>   NAME   </th>
              <th>   Email   </th>
              <th>   MOBILE   </th>
              <th>   Status   </th>
              <th>   Action   </th>
            </tr>
          </thead>
    </table>
    <a href="/shop" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
</div><!-- .End .tab-pane -->

<div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
    <p>No downloads available yet.</p>
    <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
</div><!-- .End .tab-pane -->



<div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
    <form action="#">
        <div class="row">
            <div class="col-sm-6">
                <label>First Name *</label>
                <input type="text" class="form-control" required>
            </div><!-- End .col-sm-6 -->

            <div class="col-sm-6">
                <label>Last Name *</label>
                <input type="text" class="form-control" required>
            </div><!-- End .col-sm-6 -->
        </div><!-- End .row -->

        <label>Display Name *</label>
        <input type="text" class="form-control" required>
        <small class="form-text">This will be how your name will be displayed in the account section and in reviews</small>

        <label>Email address *</label>
        <input type="email" class="form-control" required>

        <label>Current password (leave blank to leave unchanged)</label>
        <input type="password" class="form-control">

        <label>New password (leave blank to leave unchanged)</label>
        <input type="password" class="form-control">

        <label>Confirm new password</label>
        <input type="password" class="form-control mb-2">

        <button type="submit" class="btn btn-outline-primary-2">
            <span>SAVE CHANGES</span>
            <i class="icon-long-arrow-right"></i>
        </button>
    </form>
</div><!-- .End .tab-pane -->


    <%- include("../userLayouts/accountFooter.ejs") %>
    <%- include("../userLayouts/userFooter.ejs")  %>